/* src/global.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff0f5; /* Light baby pink */
  background: linear-gradient(to right, #fff, #ffe6eb);

}

.d-flex {
  display: flex;
  height: 100vh; /* Ensure full height */
}


.sidebar {
  width: 250px; /* Adjust as needed */
  min-height: 100vh; /* Ensure full height */
  background-color: #2c3e50; /* Example sidebar color */
  color: white;
  padding: 20px;
}
.sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.sidebar a:hover {
  background-color: #334155; /* Darker Shade */
  border-radius: 5px;
}


.card {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Hover effect */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  height: 100vh; /* Ensure it fills the available space */
  overflow-y: auto; /* Enable scrolling if needed */
}